
<div class= "user_information">
    <h2>ユーザー情報</h2>
    <div class="user_name">ユーザー名：　<%= @user.name %></div><br>
    <div class="user_email">E-mail：　<%= @user.email %></div><br>

    <%= link_to "ユーザー情報の変更", edit_user_path(@user), class:"btn btn-success" %><br><br>

    <%= link_to "退会",user_path, class:"btn btn-danger" %>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
     <%= link_to "log out", destroy_user_session_path, method: :delete,class:"btn btn-primary" %>
</div>
<div class="border"></div>

<style>

.user_information {
    text-align: center;
    margin: 40px auto 0 auto;
}

.user_name {
    display: inline-block;
    margin-top: 10px;
    font-size: 27px;
}
.user_email {
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}
.btn btn-danger {
    margin-right:20px;
}

.border{
    border: solid 2px gray;
    margin:30px auto;
    width: 700px;
}
</style>
