    <h1>商品詳細</h1>
        <section class="product">
        <div top-box>
            <span class="image">
                <%= attachment_image_tag @product, :image, fallback:"no_image.png", size:"50x50" %>
            </span>
            <div class="status3">
            <p>在庫残り<%= @product.stock_number %>枚</p>
                        <% if @product.stock_number > 0 %>
                            <div class="status-box1">
                                販売中
                            </div>
                                <% else %>
                            <div class="status-box1">
                                    品切
                            </div>
                        <% end %>
        </div>
        <div class="text">
       
        </div>
    <section class="col-xs-4 left">
        <p class="product-item">商品名：</p><br>
        <p class="product-item">CD名：</p><br>
        <p class="product-item">アーティスト名：</p><br>
        <p class="product-item">レーベル名：</p><br>
        <p class="product-item">ジャンル：</p><br>
        <p class="product-item">価格：</p>
    </section>
    <% @product.cds.each do |cd| %>
    <section class="col-xs-4 center">
        <p class="productname"><%= cd.product.productname %></p>
        <p class="cdname"><%= cd.cdname %></p>
        <p class="artist"><%= cd.product.artist.artistname %></p>
        <p class="label"><%= cd.product.label.labelname %></p>
        <p class="genre"><%= cd.product.genre.genrename %></p>
        <p class="price">¥<%= cd.product.price %></p>
    </section>

    <section class="col-xs-4 right">
        <% cd.songs.each do |song| %>
            <p class="song"><%= song.songname %></p>
        <% end %>
    </section>
    <% end %>
    </section>
    <%= link_to "edit", edit_admin_product_path(@product.id)%>
    <%= link_to "destroy", admin_product_path(@product.id), method: :delete, data:{confirm: "商品削除しますか？"} %>


<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    h1{
        text-align:center;
    }
    .product-box{
        margin-top:40px;
    }
    .left{
        text-align: right;
        font-size: 20px;
    }
    .center{
        text-align: left;
    }
    .right{
        width:40%;
        float:right;
    }
    .image{
        height:160px;
        width:160px;
        margin-top:2%;
        display:inline-block;
    }
    .song{
        font-size:25px;
        text-align:center;
    }
    .artist{
        font-size:18px;
        text-align:center;
    }
    .label{
        font-size: 18px;
        text-align: center;
        color: #333333;
        font-weight: normal;
    }
    .status{
        font-size:16px;
        text-align:center;
    }
    .price{
        font-size:20px;
        margin-top:10px;
        text-align:center;
    }
    .status-box{
        width:40%;
        margin:0 auto;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#ffb03c, #ff708d);
        background: -webkit-linear-gradient(#ffb03c, #ff708d);
        background: linear-gradient(to right, #ffb03c, #ff708d);
        border-radius:70%;
        color: #FFF;
}
</style>