<h3>CD一覧</h3>
<% @products.each do |product| %>
	<%= link_to product_path(product) do %>
		<p><%= product.cd.song.songname %></p>
		<p><%= product.artist.artistname %></p>
		<p><%= product.sale_status %></p>
		<p>¥<%= product.price %></p>
	<% end %>
<% end %>