<h1>商品詳細</h1>
    <section class="col-xs-5 left">
        <div class="status-box">
            <div class="status">在庫残り<%= @product.stock_number %>枚
            </div>
            <% if @product.stock_number > 0 %>
                <div class="status">
                    販売中
                </div>
            <% else %>
                <div class="status">
                    品切
                </div>
            <% end %>
        </div>
        <p class="product-item">商品名：</p><br>
        <p class="product-item">CD名：</p><br>
        <p class="product-item">アーティスト名：</p><br>
        <p class="product-item">レーベル名：</p><br>
        <p class="product-item">ジャンル：</p><br>
        <p class="product-item">価格：</p>
    </section>
    <section class="col-xs-2 center">
        <span class="image">
            <%= attachment_image_tag @product, :image, fallback:"no_image.png", size:"50x50" %>
        </span>
        <% @product.cds.each do |cd| %>
        <p class="product-item"><%= cd.product.productname %></p><br>
        <p class="product-item"><%= cd.cdname %></p><br>
        <p class="product-item"><%= cd.product.artist.artistname %></p><br>
        <p class="product-item"><%= cd.product.label.labelname %></p><br>
        <p class="product-item"><%= cd.product.genre.genrename %></p><br>
        <p class="product-item">¥<%= cd.product.price %></p>
    </section>

    <section class="col-xs-4 right">
        <h2>収録曲</h2>
        <% cd.songs.each do |song| %>
            <p class="product-item song"><%= song.song_number %>. <%= song.songname %></p><br>
        <% end %>
    </section>
    <% end %>
        <% if user_signed_in?%>
            <% if current_user.admin?%>
                <% else %>
                <% if @product.stock_number > 0 %>
                   　 <%= form_for @cart,url:product_cart_products_path(@product) do |f| %>
                     <p class="buy_quantity">購入数</p>
                     <%= f.select :purchase_number, @product.quantity%><br>
                     <%= f.submit "カートに追加",class:"btn2" %></div>
                <% end %>
                <% else %>
                    <p class="sorry">申し訳ございません、品切れです。</p>
            <% end %>
        <% end %>
        <% else %>
            <div class="log-box">
            <p class="status2"><%= link_to '会員登録 ', new_user_registration_path %></p>
            <p class="status1"><%= link_to 'ログイン ',new_user_session_path %></p>
            </div>
        <% end %>
    <%= link_to "戻る", products_path, class: 'btn'%>
    
    

<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    h1{
        text-align:center;
    }
    .top-box{
        position: relative;
        left: 330px;
        margin-bottom: 40px;
    }
    .image{
        height:160px;
        width:160px;
        margin: 0 auto 50px;
        display:inline-block;
    }
    .left{
        width:25%;
        height:622px;
        margin-top:3%;
        text-align:right;
        margin-bottom: 70px;
    }
    .edit{
        margin-top: 50px;
    }
    .destroy{
        margin-top: 50px;
    }
    .btn-primary{
        height: 40px;
        width: 100px;
        font-size: 21px;
        line-height: 21px;
    }
    .btn-danger{
        height: 40px;
        width: 100px;
        font-size: 21px;
        line-height: 21px;
    }
    .product-item{
        font-size: 30px;
    }
    .center{
        width:40%;
        height:622px;
        margin-top:2.5%;
        text-align: center;
        border-right: 1px solid #000000;
        margin-bottom: 70px;
    }
    .image{
        border-radius: 5%;
    }
    .right{
        margin-top:2.5%;
        margin-bottom:70px;
        width:35%;
        height:622px;
        float:right;
    }
    .status{
        font-size:16px;
        text-align: center;
        line-height:43px;
    }
    .price{
        font-size:20px;
        margin-top:10px;
        text-align:center;
    }
    .status-box{
        position: relative;
        height: 100px;
        display: inline-block;
        width:200px;
        margin-bottom: 110px;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#ffb03c, #ff708d);
        background: -webkit-linear-gradient(#ffb03c, #ff708d);
        background: linear-gradient(to right, #ffb03c, #ff708d);
        border-radius:30px;
        color: #FFF;
    }

    .log-box{
        position:relative;
        display:inline-block;
        width:100%;
        height:100px;
    }

    .status1{
        width:15%;
        height:50%;
        padding: 0.5em 3.5em;
        background:#99cc99;
        border-radius:30px;
        float:left;
        margin-left:5%;
    }

    .status1>a{
        color: #FFF;
        font-size:23px;
    }

    .status2{
        width:15%;
        height:50%;
        padding: 0.5em 3.5em;
        background:#0959a0;
        border-radius:30px;
        float:left;
        margin-left:33%;
    }

    .status2>a{
        color: #FFF;
        font-size:23px;
        text-align:center;
    }
    .right h2{
        margin-bottom: 50px;
    }

    .btn{
        width:90px;
        height:45px;
        padding: 0.8em 1em;
        background: #999;
        border-radius:30px;
        color: #FFF;
        margin-left:47.4%;
        margin-bottom:5%;
    }

    .btn2{
        width:250px;
        height:60px;
        padding: 0.1em 1em;
        background: #33cd43;
        border-radius:30px;
        color: #FFF;
        font-size:24px;
        margin-left:20%;
        margin-top:10%;
    }

    .new_cart_product{
        width:30%;
        height:200px;
        margin:0 auto;
    }

    #cart_product_purchase_number{
        height:45px;
        width:80px;
        font-size:25px;
    }

    .buy_quantity{
        font-size:24px;
        float:left;
        margin-left:20%;
        margin-right:25%;
    }

    .sorry{
        font-size:20px;
        margin-left:38%;
    }
</style>
