    <h1>商品詳細</h1>
    <section class="product-box">
    <section class="left">
        <span class="product">
            <span class="image">
                <%= attachment_image_tag @product, :image, fallback:"no_image.png", size:"50x50" %>
            </span>
            <span class="text">
                <p class="song"><%= @product.productname %></p>
                <p class="artist"><%= @product.artist.artistname %></p>
                <p class="price">¥<%= @product.price %></p>
                <p class="artist"><%= @product.genre.genrename %></p>
                <p class="artist"> <%= @product.label.labelname %></p>
                <p class="artist">在庫数:<%= @product.stock_number %>枚</p><br>
                <div class="status-box"><p class="status"><%= @product.sale_status %></p></div>
                <% if user_signed_in?%>
                    <% if current_user.admin?%>
                        <% else %>
                            <div class="status-box"><p class="status"><%= link_to "カート追加", cart_products_path(@product.id), method: :post %></p></div>
                    <% end %>
                <% else %>
                    <div class="status-box"><p class="status"><%= link_to '会員登録 ', new_user_registration_path %></p></div>
                    <div class="status-box"><p class="status"><%= link_to 'ログイン ',new_user_session_path %></p></div>
                <% end %>
            </span>
        </span>
    </section>
    </section>


<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    h1{
        text-align:center;
    }

    .product-box{
        margin-top:40px;
    }

    .left{
        width:50%;
        float:center;
        display:flex;
    }

    .right{
        width:auto;
        float:right;
    }

    .product{
        width:80%;
        height:190px;
        display:inline-block;
        margin-left:20%;
    }

    .image{
        height:160px;
        width:160px;
        margin-top:2%;
        display:inline-block;
    }

    .text{
        float:right;
        width:60%;
    }

    .song{
        font-size:25px;
        text-align:center;
    }

    .artist{
        font-size:18px;
        text-align:center;
    }

    .status{
        font-size:16px;
        text-align:center;
    }

    .price{
        font-size:20px;
        margin-top:10px;
        text-align:center;
    }

    .status-box{
        width:40%;
        margin:0 auto;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#ffb03c, #ff708d);
        background: -webkit-linear-gradient(#ffb03c, #ff708d);
        background: linear-gradient(to right, #ffb03c, #ff708d);
        border-radius:70%;
        color: #FFF;
}
    .add_cart {
        width:40%;
        margin:0 auto;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#ffb03c, #ff708d);
        background: -webkit-linear-gradient(#ffb03c, #ff708d);
        background: linear-gradient(to right, #ffb03c, #ff708d);
        border-radius:70%;
        color: #FFF;
    }


</style>
