    <h1>商品詳細</h1>
        <section class="product">
        <div top-box>
            <span class="image">
                <%= attachment_image_tag @product, :image, fallback:"no_image.png", size:"50x50" %>
            </span>
            <div class="status3">
            <p">在庫残り<%= @product.stock_number %>枚</p">
            <p class="status2"><%= @product.sale_status %></p>
            </div>
        </div>
        <div class="text",>
        <div class="text-box2 cf">
        <div class="text-left">
            <p class="texts">商品名:</p>
            <p class="texts">アーティスト名:</p>
            <p class="texts">価格:</p>
            <p class="texts">ジャンル名:</p>
            <p class="texts">レーベル名:</p>
        </div>
        <div class="text-right">
            <p class="song"><%= @product.productname %></p>
            <p class="artist"><%= @product.artist.artistname %></p>
            <p class="price">¥<%= @product.price %></p>
            <p class="artist"><%= @product.genre.genrename %></p>
            <p class="artist"> <%= @product.label.labelname %></p><br><br>
        </div><br>
        </div>
            <% if user_signed_in?%>
                <% if current_user.admin?%>
                    <% else %>
                        <div class="status-box"><p class="status">
                        <%= link_to "カートに追加", product_cart_products_path(@product.id), method: :post, class: 'glyphicon glyphicon-shopping-cart' %>
                        </p></div>

                <% end %>
            <% else %>
                <div class="log-box"><p class="status"><%= link_to '会員登録 ', new_user_registration_path %></p></div>
                <div class="log-box"><p class="status"><%= link_to 'ログイン ',new_user_session_path %></p></div>
            <% end %>
            <p class="return"><%= link_to '戻る', products_path %></p>
        </div>
        </section>


<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }

    h1{
        text-align:center;
    }

    .cf::after {
        content: "";
        display: block;
        clear: both;
    }

    .top-box{
        width:80%;
        height:230px;
        margin:0 10%;
        overflow: hidden;
        position:rerative;
        zoom:1;
    }

    .right{
        width:auto;
        float:right;
    }

    .product{
        width:80%;
        height:700px;
        margin:0 10%;
    }

    .image{
        height:230px;
        width:230px;
        margin-top:2%;
        margin-left:31.5%;
        display:inline-block;
    }

    .text{
        text-align:center;
        height:360px;
        margin-top:5%;
        overflow: hidden;
        position:rerative;
        zoom:1;
    }

    .texts{
        margin-top:2.8%;
    }

    .text-left{
        width:40%;
        height:190px;
        font-size:17px;
        text-align:right;
        float:left;
    }

    .text-right{
        width:60%;
        padding-right:20%;
        float:right;
        height:190px;
    }

    .song{
        font-size:25px;
        text-align:center;
    }

    .artist{
        font-size:18px;
        text-align:center;
    }

    .status{
        font-size:20px;
        text-align:center;
    }

    .status2{
        color:red;
    }

    .status3{
        font-size:18px;
        float:right;
        text-align:center;
        padding: 0.5em 1em;
        background: #89aacb;
        border-radius:20%;
        color: #fff;
        margin-top:16%;
        margin-right:17%;
    }

    .price{
        font-size:20px;
        margin-top:10px;
        text-align:center;
    }

    .status-box{
        width:30%;
        height:50px;
        margin:0 auto;
        padding: 0.5em 1em;
        background: #aada39;
        border-radius:10%;
        color: #FFF;
}
    .add_cart {
        width:40%;
        margin:0 auto;
        padding: 0.5em 1em;
        background: -moz-linear-gradient(#ffb03c, #ff708d);
        background: -webkit-linear-gradient(#ffb03c, #ff708d);
        background: linear-gradient(to right, #ffb03c, #ff708d);
        border-radius:70%;
        color: #FFF;
    }

    .return{
        margin-top:8%;
        width:20%;
        margin-left:39%;
        fot-size:15px;
        padding: 0.5em 1em;
        background: #ccc;
        border-radius:10%;
        color: #FFF;
    }


</style>
